<div class="section-full text-white bg-img-fix content-inner overlay-black-dark counter-staus-box" style="background-image:url(assets/images/background/bg4.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="icon-bx-wraper center">
                    <div class="icon-content">
                        <h2 class="dlab-tilte counter">150</h2>
                        <p>Happy Students</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="icon-bx-wraper center">
                    <div class="icon-content">
                        <h2 class="dlab-tilte counter">11</h2>
                        <p>Approved PG to 8 Classes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.8s">
                <div class="icon-bx-wraper center">
                    <div class="icon-content">
                        <h2 class="dlab-tilte counter">15</h2>
                        <p>Certified Teachers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.10s">
                <div class="icon-bx-wraper center">
                    <div class="icon-content">
                        <h2 class="dlab-tilte counter">150</h2>
                        <p>Graduate Students</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>