<div class="page-wraper">
  <!-- header -->
  <!-- <app-header-light3></app-header-light3> -->
  <app-header-light3></app-header-light3>
  <!-- <app-header-light10></app-header-light10> -->
  <!-- header END -->
  <!-- Content -->
  <div class="page-content">
    <!-- inner page banner -->
    <app-banner1 [data]="banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- Code Box -->
      <div class="section-full content-inner bg-white video-section">
        <div class="container">
          <div class="header-box">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-4">
                <img src="assets/images/header.png" alt="" />
              </div>
              <div class="col-lg-9 col-md-8">
                <h2 class="title">Check Header Style 03</h2>
                <p>
                  A wonderful serenity has taken possession of my entire soul,
                  like these sweet mornings of spring which I enjoy with my
                  whole heart. I am alone, and feel the charm.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Testimonials blog -->
      <app-testimonial1></app-testimonial1>
      <!-- Testimonials blog End -->

      <!-- Code Box End -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Footer -->
  <!-- Newsletter -->
  <app-newsletter2></app-newsletter2>
  <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <!-- scroll top button -->
  <app-scroltop></app-scroltop>
</div>

<script>
  document.getElementById('copyButton').addEventListener('click', function () {
    $('#copyButton').addClass('active').text('Copied')
    $('#copyTarget').addClass('active')
    copyToClipboard(document.getElementById('copyTarget'))
  })
  function copyToClipboard(elem) {
    // create hidden text element, if it doesn't already exist
    var targetId = '_hiddenCopyText_'
    var isInput = elem.tagName === 'INPUT' || elem.tagName === 'TEXTAREA'
    var origSelectionStart, origSelectionEnd
    if (isInput) {
      // can just use the original source element for the selection and copy
      target = elem
      origSelectionStart = elem.selectionStart
      origSelectionEnd = elem.selectionEnd
    } else {
      // must use a temporary form element for the selection and copy
      target = document.getElementById(targetId)
      if (!target) {
        var target = document.createElement('textarea')
        target.style.position = 'absolute'
        target.style.left = '-9999px'
        target.style.top = '0'
        target.id = targetId
        document.body.appendChild(target)
      }
      target.textContent = elem.textContent
    }
    // select the content
    var currentFocus = document.activeElement
    target.focus()
    target.setSelectionRange(0, target.value.length)

    // copy the selection
    var succeed
    try {
      succeed = document.execCommand('copy')
    } catch (e) {
      succeed = false
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === 'function') {
      currentFocus.focus()
    }
    if (isInput) {
      // restore prior selection
      elem.setSelectionRange(origSelectionStart, origSelectionEnd)
    } else {
      // clear temporary content
      target.textContent = ''
    }
    return succeed
  }
</script>
