<div class="page-wraper">

	<!-- header -->
	<app-header-light7></app-header-light7>
	<!-- header END -->
	<!-- Content -->
	<div class="page-content bg-gray">
		<!-- inner page banner -->
		<app-banner1 [data]="banner"></app-banner1>
		<!-- inner page banner END -->
		<div class="section-full content-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 m-b30">
						<div class="course-view text-center">
							<h2 class="m-t0 m-b10 font-28 title text-black">Become a PHP Master and Make Money</h2>
							<ul class="course-info">
								<li>
									<i class="fa fa-user"></i> <span> 65</span>
									<div class="course-info-dec">Student</div>
								</li>
								<li>
									<i class="fa fa-star"></i> <span> 4.3</span>
									<div class="course-info-dec">Reviews (23)</div>
								</li>
								<li>
									<i class="fa fa-clock-o"></i> <span> 2.0</span>
									<div class="course-info-dec">Learning Hours</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- Side bar start -->
					<div class="col-xl-3 col-lg-4 col-md-12 m-b30">
						<aside class="side-bar sticky-top">
							<div class="widget">
								<div class="teacher-info text-center">
									<div class="top-info">
										<span class="price text-primary">Free</span>
										<a href="" class="site-button button-sm">Take This Course</a>
									</div>
									<div class="teacher-pic">
										<a href="#"><img src="assets/images/testimonials/pic1.jpg" alt=""></a>
									</div>
									<h4 class="name">Henry H. Garrick</h4>
									<span class="position">course instructor</span>
									<div class="clearfix m-b20">
										<a href="" class="site-button button-sm">FOLLOW NOW <i
												class="fa fa-user-plus m-l5"></i></a>
									</div>
									<ul class="social-list">
										<li><a href="javascript:void(0);"
												class="site-button circle fa fa-facebook facebook"></a></li>
										<li><a href="javascript:void(0);"
												class="site-button circle fa fa-twitter twitter"></a></li>
										<li><a href="javascript:void(0);"
												class="site-button circle fa fa-linkedin linkedin"></a></li>
										<li><a href="javascript:void(0);"
												class="site-button circle fa fa-whatsapp whatsapp"></a></li>
									</ul>
								</div>
							</div>
							<app-category-list1></app-category-list1>
							<app-recent-posts1></app-recent-posts1>
						</aside>
					</div>
					<!-- Side bar END -->
					<!-- left part start -->
					<div class="col-xl-9 col-lg-8 col-md-12 m-b30">
						<div class="row">
							<div class="col-lg-12">
								<div class="media m-b30">
									<img src="assets/images/blog/default/thum1.jpg" alt="">
								</div>
							</div>
							<div class="col-lg-12">

								<!-- Tabs -->
								<app-courses6></app-courses6>
								<!-- Tabs End-->

							</div>
						</div>
					</div>
					<!-- left part start -->
				</div>
			</div>
		</div>
	</div>
	<!-- Content END-->
	<!-- Footer -->
	<!-- Newsletter -->
	<app-newsletter2></app-newsletter2>
	<!-- Footer -->
	<app-footer13></app-footer13>
	<!-- Footer END-->
	<!-- scroll top button -->
	<!-- scroltop -->
	<app-scroltop></app-scroltop>
</div>