<div class="section-full bg-primary">
	<div class="container-fluid">
		<div class="row align-item-center about-three">
			<div class="col-lg-6 p-lr0">
				<div class="video-bx about-video">
					<img src="assets/images/about/about3.jpg" class="img-cover" alt=""/>
					<div class="video-play-icon">
						<a href="https://www.youtube.com/watch?v=f4Bts39jimI" class="popup-youtube video"><i class="fa fa-play"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 content-inner-2 content-bx">
				<div class="max-w600 p-lr15">
					<div class="section-head text-white m-b20">
						<h5 class="title-small">Step into the World of Organics!</h5>
						<h2 class="title">About EduZone</h2>
						<div class="dlab-separator bg-white"></div>
					</div>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<ul class="list-check circle white">
						<li>You Will Never Thought That Knowing Education</li>
						<li>Never Mess With Education And Here's The Reasons Why</li>
						<li>This Is Why This Year Will Be The Year Of Education</li>
					</ul>
					
					<a href="javascript:void(0);" class="site-button btnhover14 white">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>