form > div {
  margin-bottom: 15px;
}
label {
  margin-bottom: 2px;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  border-radius: 3px;
  outline: none;
}
.imgsWrapper {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  border: 1px solid gainsboro;
}
button {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0.5rem 0;
  border: none;
  padding: 1rem;
  border-radius: 3px;
}
button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error {
  color: red;
}
