
<div class="page-wraper">

    <!-- header -->
    <app-header-light7></app-header-light7>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-gray">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
		<!-- Teachers Profile -->
		<div class="section-full content-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 m-b30">
						<div class="teachers-profile" *ngIf="teacherData">
							<div class="img">
								<img src={{teacherData.img}} alt="">
							</div>
							<div class="teachers-info">
								<h4 class="name">{{teacherData.name}}</h4>
								<span class="position">{{teacherData.position}}</span>
							</div>
							<div class="teachers-contact">
								<ul>
									<li class="title">Contact Info</li>
									<li><span>Address:</span>Rath</li>
									<li><span>Email:</span>info@example.com</li>
									<li><span>Phone:</span>+91 987 654 3210</li>
								</ul>
								<div class="share-list">
									<h5>Share :</h5>
									<ul class="dlab-social-icon">
										<li><a href="javascript:void(0);" class="site-button circle fa fa-facebook facebook"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-twitter twitter"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-linkedin linkedin"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-whatsapp whatsapp"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-7" *ngIf="teacherData">
						<div class="teachers-details">
							<h2>Teacher Details</h2>
							<p class="m-b10">Name : {{teacherData.name}}</p>
							<p class="m-b10">Gender : {{teacherData.gender}}</p>
							<p class="m-b10">Expertise : {{teacherData.about}}</p>
							<p class="m-b10">Experience: {{teacherData.experience}}</p>
							<h2>Field Of Special Interest</h2>
							<p class="m-b10">{{teacherData.subject}}</p>
							<p class="m-b30">{{teacherData.duty}}</p>
							<div class="row">
								<div class="col-lg-6 m-b15">
									<h4 class="m-b30">My Education</h4>
									<ul class="teach-list-info">
										<li>
											<i class="fa fa-graduation-cap"></i>
											<h5 class="title">Harvard University</h5>
											<span>Bachelor in Mathematics</span>
										</li>
										<li>
											<i class="fa fa-graduation-cap"></i>
											<h5 class="title">University Of Toronto</h5>
											<span>Bachelor in English</span>
										</li>
										<li>
											<i class="fa fa-graduation-cap"></i>
											<h5 class="title">Harvard University</h5>
											<span>Bachelor in Mathematics</span>
										</li>
									</ul>
								</div>
								<div class="col-lg-6 m-b15">
									<h4 class="m-b30">My Experience</h4>
									<ul class="teach-list-info">
										<li>
											<i class="fa fa-briefcase"></i>
											<h5 class="title">UI/UX Designer</h5>
											<span>2016 - 2024</span>
										</li>
										<li>
											<i class="fa fa-briefcase"></i>
											<h5 class="title">Web Development</h5>
											<span>2017 - 2024 </span>
										</li>
										<li>
											<i class="fa fa-briefcase"></i>
											<h5 class="title">Envato</h5>
											<span>2018 - 2024 </span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Teachers Profile End -->
	</div>
    <!-- Content END-->
    <!-- Footer -->
   <!-- Newsletter -->
	<app-newsletter2></app-newsletter2>
   <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
     <!-- scroll top button -->
	 <app-scroltop></app-scroltop>
</div>