<div class="section-full content-inner bg-gray">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="title">Admissions Process</h2>
            <p>The primary school admission process involves three key steps: Request Info, Apply Now, and Submit. This structured approach ensures that parents and guardians have all the necessary information, complete the application accurately, and submit all required documents for their child's enrollment.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
                    <div class="icon-lg m-b20"> <span class="icon-cell"><i class="flaticon-closed-notebook-and-pen"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Request Info</h5>
                        <p>The school provides an information packet that includes details about the curriculum, extracurricular activities, school policies, and tuition fees.</p>
                        <a [routerLink]="['/contact-1']" class="site-button btnhover6">Request Info</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
                    <div class="icon-lg m-b20"> <span class="icon-cell"><i class="flaticon-graduated-student-avatar"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Apply Now</h5>
                        <p>Complete the online or paper application form, providing necessary details such as student information, parent/guardian contact information, and previous school records (if applicable).</p>
                        <a [routerLink]="['/contact-1']" class="site-button btnhover6">Apply Online</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.9s">
                <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
                    <div class="icon-lg m-b20"> <span class="icon-cell text-primary"><i class="flaticon-test"></i></span> </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Submit</h5>
                        <p>Submit the application through the school’s online portal or visiting school office to the school office</p>
                        <a [routerLink]="['/contact-1']" class="site-button btnhover6">Submit Form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>