<div class="section-full text-white bg-img-fix content-inner overlay-black-dark counter-staus-box style-1" style="background-image:url(assets/images/background/bg8.jpg);">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="title">Our Goals</h2>
            <p>To create a nurturing and inclusive environment that fosters academic excellence, promotes holistic development, and encourages lifelong learning. This will be achieved by enhancing curriculum standards, supporting professional development for teachers, integrating technology, and engaging the community to ensure the overall well-being and success of every student.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="icon-bx-wraper center">
                    <div class="icon-lg m-b5"> <span class="icon-cell text-green"><i class="flaticon-graduated-student-avatar"></i></span> </div>
                    <div class="icon-content">
                        <h2 class="dlab-tilte counter text-primary">15</h2>
                        <p>Certified Teachers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="icon-bx-wraper center">
                    <div class="icon-lg m-b5"> <span class="icon-cell text-red"><i class="flaticon-contract"></i></span> </div>
                    <div class="icon-content">
                        <h2 class="dlab-tilte counter text-primary">150</h2>
                        <p>Students Enrolled</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.8s">
                <div class="icon-bx-wraper center">
                    <div class="icon-lg m-b5"> <span class="icon-cell text-green"><i class="flaticon-school"></i></span> </div>
                    <div class="icon-content">
                        <h2 class="dlab-tilte text-primary"><span class="counter">100</span>%</h2>
                        <p>Passing to School</p>								
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="icon-bx-wraper center">
                    <div class="icon-lg m-b5"> <span class="icon-cell text-yellow"><i class="flaticon-test"></i></span> </div>
                    <div class="icon-content">
                        <h2 class="dlab-tilte text-primary"><span class="counter">100</span>%</h2>
                        <p>Satisfied Parents</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>