<div class="page-wraper">

	<!-- header -->
	<app-header-light7></app-header-light7>
	<!-- header END -->
	<!-- Content -->
	<div class="page-content bg-gray">
		<!-- inner page banner -->
		<app-banner1 [data]="banner"></app-banner1>
		<!-- inner page banner END -->
		<div class="content-area">
			<div class="container">
				<div class="row">
					<!-- Side bar start -->
					<div class="col-lg-3 col-md-5 m-b30">
						<aside class="side-bar sticky-top">
							<div class="widget widget_event_info">
								<h5 class="widget-title style-1">Event Details</h5>
								<ul>
									<li>
										<i class="la la-user-circle"></i>
										<span class="title">Organizer:</span>
										<span class="info">Konne Backfield</span>
									</li>
									<li>
										<i class="la la-calendar"></i>
										<span class="title">Start Date:</span>
										<span class="info">04 June 2024</span>
									</li>
									<li>
										<i class="la la-clock-o"></i>
										<span class="title">Time:</span>
										<span class="info">09:00 Am To 07:00 PM</span>
									</li>
									<li>
										<i class="la la-envelope"></i>
										<span class="title">Email:</span>
										<span class="info">info@example.com</span>
									</li>
									<li>
										<i class="la la-phone"></i>
										<span class="title">Phone:</span>
										<span class="info">+91 987 654 3210</span>
									</li>
									<li>
										<i class="la la-map-marker"></i>
										<span class="title">Address:</span>
										<span class="info">Melbourne </span>
									</li>
								</ul>
							</div>
							<app-category-list1></app-category-list1>

							<app-our-gallery1></app-our-gallery1>
						</aside>
					</div>
					<!-- Side bar END -->
					<!-- left part start -->
					<div class="col-lg-9 col-md-7">
						<div class="event-single" *ngIf="eventData">
							<div class="dlab-post-meta">
								<ul>
									<li class="post-author"> <i class="la la-clock"></i> {{eventData.startTime}}</li>
									<li class="post-tag"> <i class="ti-location-pin"></i> {{eventData.location}} </li>
								</ul>
							</div>
							<h2 class="dlab-title">{{eventData.title}}</h2>
							<div class="dlab-media m-b30">
								<a href="javascript:void(0);"><img src={{eventData.img}}
										alt=""></a>
							</div>
							<div class="dlab-post-text">
								<h4>About This Event</h4>
								<p>{{eventData.about}}</p>
								<h4>Event’s Highlight</h4>
								<p>{{eventData.highlight}}</p>
								<h4>Event Content</h4>
								<ul class="list-checked primary" *ngFor="let content of eventData.contents">
									<li>{{content}}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- left part start -->
				</div>
			</div>
		</div>
	</div>
	<!-- Content END-->
	<!-- Footer -->
	<!-- Newsletter -->
	<app-newsletter2></app-newsletter2>
	<!-- Footer -->
	<app-footer13></app-footer13>
	<!-- Footer END-->
	<!-- scroll top button -->
	<app-scroltop></app-scroltop>
</div>