<div class="page-wraper">
    <!-- header -->
  
    <app-header-light7></app-header-light7>
  
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- inner page banner -->
      <app-banner1 [data]="banner"></app-banner1>
      <!-- inner page banner END -->
      <!-- contact area -->
      <div class="content-block">
        <!-- About Services info -->
        <app-content12 [data]="skills"></app-content12>
        <!-- Details Counter -->
        <app-counter1></app-counter1>
        <!-- Teacher Section -->
        <app-team3></app-team3>
        <!-- Team Section END -->
        <!-- Latest blog -->
        <app-blog1></app-blog1>
        <!-- Latest blog END -->
      </div>
      <!-- contact area END -->
    </div>
    <!-- Content END -->
    <!-- Newsletter -->
    <app-newsletter2></app-newsletter2>
    <!-- Footer -->
    <app-footer8></app-footer8>
    <!-- Footer END-->
    <!-- scroltop -->
    <app-scroltop></app-scroltop>
  </div>
  