<!-- <div class="page-wraper">
    <app-header-light7></app-header-light7>
</div> -->
<div class="teacherFormWrapper">

    <h1> Add New Teacher</h1>

    <form [formGroup]="teacherForm" (ngSubmit)="addTeacher()">
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" formControlName="name" required
                [ngClass]="{ error:getControl('name')?.errors && getControl('name')?.touched}">
            <div *ngIf="getControl('name')?.errors && getControl('name')?.touched">
                <small class="text-danger" *ngIf="getControl('name')?.errors?.['required']">
                    Name is required.
                </small>
            </div>
        </div>


        <div>
            <label for="age">Age:</label>
            <input id="age" type="number" formControlName="age" required
                [ngClass]="{ error:getControl('age')?.errors && getControl('age')?.touched}">
            <div *ngIf="getControl('age')?.errors && getControl('age')?.touched">
                <small class="text-danger" *ngIf="getControl('age')?.errors?.['required']">
                    Age is required.
                </small>
            </div>
        </div>
        <div>
            <label for="gender">Gender:</label>
            <select id="gender" formControlName="gender" (change)="onSelectChange($event)"
                [ngClass]="{ error:getControl('gender')?.errors && getControl('gender')?.touched}">
                <option value="" disabled>select Gender</option>
                <option *ngFor="let gender of genderOptions" [value]="gender">{{ gender }}</option>

            </select>
            <div *ngIf="getControl('gender')?.errors && getControl('gender')?.touched">
                <small class="text-danger" *ngIf="getControl('gender')?.errors?.['required']">
                    Gender is required.
                </small>
            </div>
        </div>

        <div>
            <label for="position">Position:</label>
            <input id="position" type="text" formControlName="position" required
                [ngClass]="{ error:getControl('position')?.errors && getControl('position')?.touched}">
            <div *ngIf="getControl('position')?.errors && getControl('position')?.touched">
                <small class="text-danger" *ngIf="getControl('position')?.errors?.['required']">
                    Position is required.
                </small>
            </div>
        </div>
        <div>
            <label for="subject">Subject:</label>
            <input id="subject" type="text" formControlName="subject" required
                [ngClass]="{ error:getControl('subject')?.errors && getControl('subject')?.touched}">
            <div *ngIf="getControl('subject')?.errors && getControl('subject')?.touched">
                <small class="text-danger" *ngIf="getControl('subject')?.errors?.['required']">
                    Subject is required.
                </small>
            </div>
        </div>

        <div>
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email" required
                [ngClass]="{ error:getControl('email')?.errors && getControl('email')?.touched}">
            <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">
                    Email is required.
                </small>
                <small class="text-danger" *ngIf="getControl('email')?.errors?.['pattern']">
                    Email is invalid.
                </small>
            </div>
        </div>

        <div>
            <label for="image">Image</label>
            <input id="image" class="imgInputWrapper" type="file" (change)="onFileChange($event)" multiple />
        </div>
        <div class="imgsWrapper">
            <div *ngFor="let img of images">
                <img [src]="img" alt="Teacher Image" style="width: 100px; height: 100px;" />


            </div>
        </div>
        <button type="submit" [disabled]="!teacherForm.invalid">Add Teacher</button>
    </form>
</div>